button.find,button.addMovie,a:visited {
    background-color: rgb(241, 24, 24) !important;
    border: solid rgb(255, 29, 29) .1px !important;
    color: var(--font-color-1);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

button.addMovie {
    width: 150px;
    height: 3rem;
    transition: all .2s ease;
}
button.find,button.addMovie:hover{
    background-color: rgb(255, 0, 0) !important;
    transform: translateY(-5px);

}
button.find {
    width: 50px;
    height: 2.5rem;

}