.modal-content {
    color: #ffffff;
    border-radius: 0;
    height: 500px;
    .modal-footer {
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-header {
        background-color: red;
        border-radius: 0;
        border-bottom: none;
    }
}

// #171515