
            
.offcanvas,.offcanvas-body{
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: scroll;
}
.offcanvas {
    --bs-offcanvas-padding-x: 0rem;
    --bs-offcanvas-padding-y: 0rem;
    .offcanvas-header{
        ion-icon.fs-3{
            
            color: #ffffff;
        }
        min-height: 72px;
        margin-bottom: 1rem;
        background-color: #171515;
        padding-top: 16px;
        padding-right: 30px;
        padding-left: 30px;
        .offcanvas-title {
            color: #ffffff;
        }
        .btn-close {
            font-size: 36px;
            color: #ffffff;
        }
        .offcanvas-body {
            display: flex !important;
            justify-content: center  !important;
            padding: 0% !important;
        }
    }


}