
            

.offcanvas {
    --bs-offcanvas-padding-x: 0rem;
    --bs-offcanvas-padding-y: 0rem;
    .offcanvas-header{
        ion-icon.fs-3{
            
            color: #ffffff;
        }
        height: 72px;
        background-color: #171515;
        padding-top: 16px;
        padding-right: 30px;
        padding-left: 30px;
        .offcanvas-title {
            color: #ffffff;
        }
        .btn-close {
            font-size: 36px;
            color: #ffffff;
        }
        .offcanvas-body {
            padding: 0% !important;
        }
    }


}