:root {
    --prime: #000;
    --font-color-1: #ffffff;
    --font-color-2: #000000;
    --footer-padding: 2rem;
    --link-font-color: #fff;
    --header-bg-color:-webkit-linear-gradient(45deg, hsla(0, 5%, 9%, 1) 8%, hsla(0, 10%, 28%, 1) 100%)
}
// --header-bg-color:#171515;
