// All Useable Fonts
// Both are complementary
// font-family: 'Abril Fatface', cursive;
// font-family: 'Lato', sans-serif;

// font-family: 'Lobster Two', cursive;
// font-family: 'Roboto', sans-serif;
:root {
    font-family: 'Roboto', sans-serif;
    
}
html {
    height: 100%;
}
body {
    min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: inset 0 0 10px #000000;



}
main {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
    min-height: 1000px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url("../assets/US-en-20221128-popsignuptwoweeks-perspective_alpha_website_medium.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    
}
a {
    text-decoration: none;
    color: var(--link-font-color);
}
a:hover {
    color: #fff;
}
