// All Useable Fonts
// Both are complementary
// font-family: 'Abril Fatface', cursive;
// font-family: 'Lato', sans-serif;

// font-family: 'Lobster Two', cursive;
// font-family: 'Roboto', sans-serif;
:root {
    font-family: 'Roboto', sans-serif;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    width: 100%;
    min-height: 1000px;
}
a {
    text-decoration: none;
    color: var(--link-font-color);
}
a:hover {
    color: #fff;
}
